.container-fluid.rm-hero{
    min-height: 30vh;
    background-image: url("../img/papajohns.webp");
    background-position: center center;
    background-size: cover;
}

li span {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background-color: #6D6D6D;
    color: black;

}


