body {
    background-color: lightgray;
}

/*HEADER*/

.container-header {
    background-color: blue;
    color: white;
}

h1 {
    margin: unset;
    padding: unset;
}

.col-city {
    display: flex;
    align-items: center;
}

/*SEARCH BAR*/

.container-search {
    text-align: center;
}

#search-input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

#search-button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    margin-left: 10px;
}


/*HERO*/




/*CARDS*/

.con-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: unset;
}