body {
    background-color: lightgray;
}

/*HEADER*/

.container-header {
    background-color: blue;
    color: white;
}

h1 {
    margin: unset;
    padding: unset;
}

.col-city {
    display: flex;
    align-items: center;
}

/*SEARCH BAR*/




/*HERO*/




/*CARDS*/

.con-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: unset;
    /*margin: unset;*/
}